$ITEM_COLOR_RED: #d53e07;
$ITEM_COLOR_YELLOW: #e8c96d;
$ITEM_COLOR_GREEN: #507d2a;
$ITEM_COLOR_BLUE: blue;
$ITEM_COLOR_LIGHT_BLUE: #007bff;
$ITEM_COLOR_LIGHT_BLUE_HOVER: #5EA2FF;
$ITEM_COLOR_GREY: #B1B1B1;
$TEXT_COLOR_GRAY: #828282;
$TEXT_COLOR_DARK_GRAY: #929292;
$BACKGROUND_COLOR_GREY: #e0e0e0;
$FORM_COLOR_GRAY: #f2f2f2;

$ITEM_ERROR_MESSAGE: red;
$ITEM_ERROR_BACK_COLOR: #ffdbde;