button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #5EA2FF;
  }
}

:host-context(.search-button) button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}